@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
}

.cadre {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  width: 70vw;
  height: 80vh;
  margin: auto;
  margin-top: 5vh;
}

.title {
  position: relative;
  background-color: rgba(0, 0, 0, 1);
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 1.8em;
  border-radius: 5px;
}

Button {
  padding: 2vh 2vw;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
  font-size: 1.5rem;
  border: 2px solid black;
}

button:hover {
  background-color: darkgray;
}

.mise {
  display: flex;
  justify-content: space-between;
  width: 40vw;
}

.plus,
.moins {
  padding: 1.5vh 1.5vw;
}

.miseMet {
  margin-left: 0;
}

.gagne {
  color: green;
}

.perdu {
  color: red;
}

.btn {
  display: flex;
  justify-content: space-evenly;
}

.info {
  margin: 10px;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 800px) {
  * {
    font-size: 15px;
  }
  Button {
    padding: 4vh 4vw;
    font-size: 0.8em;
    border: 0.5px solid black;
    border-radius: 15px;
    margin: 3vh 5vw;
  }

  .mise {
    display: flex;
    justify-content: none;
    margin-left: 0;
    width: unset;
  }
  .plus,
  .moins {
    padding: 2vh 4vw;
    margin: 0 1vw;
  }
}
